*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.guest{
float: right;
padding-top: 5px;
}
body{
/*background-image:url('../images/bg11.jpg');*/
font-family:"Segoe UI";
font-size:1.5em;
}
a, a:hover{
text-decoration:none;
}
#head{
border-top:2px solid seagreen;
}
#logo{
height:inherit;width:inherit;
}
#header{
float:right;
}
#headModel{
padding:35px 50px;
}
#modelBody{
padding:40px 50px;
}
h1{
line-height:inherit;
}
.col-md-4 h1{
text-align:center
}
.col-md-offset-9 p{
font-size:1.5em;
text-align:right;
}
.clear{
clear:both;
}
.nav .navbar-nav li{
width:100px;;
}
.nav li:hover{
background-color:black;
}
.nav li a:active{
background-color:black;
}
.affix {
top: 0;
width: 97.3%;
}
#jumborow{
border-bottom:20px solid #5CB85C;padding-bottom:20px;padding-left:50px;
}
#jumbocol{
border-right:2px ridge black;
}
#trainerdiv{
padding-left:50px;
}
.Ngview{
min-height:390px;
}
.black{
color:black;
}
#section{
width:inherit;
}
.login{
width:100%;
height:100%;
background-color:rgba(0,0,0,0.5);
position:fixed;
top:0px;
left:0px;
z-index:1;
}
.modal-header, h4{
background-color: #5cb85c;
color:white !important;
text-align: center;
font-size: 30px;
}
.modal-footer {
background-color: #f9f9f9;
}
